# Ghost URLs
GHOST_URL=http://localhost:2368
GHOST_ADMIN_URL=http://localhost:2368/ghost

# Ghost admin credentials
GHOST_ADMIN_EMAIL=your-admin-email@example.com
GHOST_ADMIN_PASSWORD=your-admin-password
